@import "../index.scss";

.navbar {
  width: 100vw;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;

  .logo {
    font-size: clamp(40px, 4vw, 100px);
    font-family: "Montserrat-ExtraBold";
    color: $colorSecondaryDark;
    letter-spacing: 2px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;

    li {
      margin-right: 20px;
      font-family: "Montserrat-Medium";

      a {
        font-family: "Montserrat-Regular";
        color: $colorWhite;
        text-decoration: none;
        transition: all 0.2s ease;
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;

        &:hover {
          color: $colorSecondaryDark;
        }

        span {
          color: $colorSecondaryDark;
          margin-right: 5px;
          font-family: "Montserrat-Bold";
        }
      }
    }
  }
}

.home {
  width: 100vw;
  height: 100vh;
  position: relative;

  &_content {
    width: 60vw;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);

    h1 {
      font-size: clamp(50px, 20vw, 120px);
      font-family: "Montserrat-Bold";
      color: $colorWhite;
      letter-spacing: 2px;
      text-transform: uppercase;
      line-height: 1;
    }

    h2 {
      font-family: "Montserrat-SemiBold";
      color: $colorSecondaryDark;
      font-size: clamp(30px, 12vw, 90px);
      white-space: nowrap;
    }
  }

  &_aside {
    position: fixed;
    top: 80vh;
    left: 5vw;
    line-height: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    a {
      color: $colorWhite;
      font-size: clamp(20px, 4vw, 40px);
    }
  }

  &_toggle {
    position: fixed;
    top: 90vh;
    right: 5vw;
    color: $colorWhite;
    font-size: clamp(20px, 4vw, 40px);
  }
}
