// DARK MODE
$colorBgDark: #053f5e;
$colorCircleDark: #115173;
$colorPrimaryDark: #115173;
$colorSecondaryDark: #ffd700;
$colorWhite: #ffffff;

$circleShadow: 0px 20px 50px rgba(0, 0, 0, 0.25);

// LIGHT MODE
$colorBgLight: #f9f3e6;
$colorCircleLight: #e2dcd5;

$colorSecondaryLight: #5e616a;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $colorBgDark;
  font-family: "Montserrat-Regular";
  overflow-x: hidden;
}

.center {
  width: 80vw;
  margin: 0 auto;
}


